<% if @movie.errors.any? %>
    <div>
      <h2>There were errors!</h2>
    </div>
<% end %>

<%= form_for @movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= @movie.errors[:title].to_sentence %>

    <%= f.label :rating %>
    <%= f.text_field :rating %>
    <% Movie.all_available_ratings.each do |rating| %>
        <div>
          <%= radio_button_tag "movie[rating]", rating %>
          <%= rating %>
        </div>
    <% end %>
    <%= @movie.errors[:rating].to_sentence %>

    <%= f.label :release_date %>
    <%= f.text_field :release_date %>
    <%= @movie.errors[:release_date].to_sentence %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <p><%= f.submit "Submit" %></p>
<% end %>
