<h1>All Movies</h1>
<%= form_tag movies_path, :method => :get do %>
    Include:
    <% all_ratings.each do |rating| %>
        <%= rating %>
        <%= check_box_tag "ratings[#{rating}]", "1", ratings_params[rating] %>
    <% end %>
    <%= submit_tag 'Refresh' %>
<% end %>
<table id="movies">
  <thead>
  <tr>
    <th><%= sortable 'title', 'Movie Title' %> </th>
    <th>Rating</th>
    <th><%= sortable 'release_date', 'Release Date' %></th>
    <th>More Info</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
      <tr class="<%= cycle('oddrow', 'evenrow') -%>">
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= truncate(movie.description, length: 15) %><%= link_to ('more'), movie_path(movie) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if admin? %>
<%= link_to 'Add new movie', new_movie_path %>
<% end %>