<h1>All Movies</h1>
<%= params.inspect %>
<%= form_tag movies_path, :method => :get do %>
    Include:
    <% all_ratings.each do |rating| %>
        <%= rating %>
        <%= check_box_tag "ratings[#{rating}]", "1", ratings_params[rating] %>
    <% end %>
    <%= submit_tag 'Refresh' %>
<% end %>
<table id="movies">
  <thead>
  <tr>
    <th class=<%= 'highlight' if params[:mov]=='title' %>><%= link_to 'Movie Title', (params[:mov]=='title' and session[:mov].has_value?('desk'))? movies_path(mov: 'title', direction: :asc) : movies_path(mov: 'title', direction: :desc) %> </th>
    <th>Rating</th>
    <th class=<%= 'highlight' if params[:mov]=='release_date' %>><%= link_to 'Release Date', (session[:mov].keys=='release_date' and session[:mov].has_value?('desk'))? movies_path(mov: 'release_date', direction: :asc) : movies_path(mov: 'release_date', direction: :desc)%></th>
    <th>More Info</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
      <tr class="<%= cycle('oddrow', 'evenrow') -%>">
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td maxlength="10"><%= link_to ("More about #{movie.title}".first(4)+'...'), movie_path(movie) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>
